@use "./../utilities/variables" as v;

.sidebar {
  background-color: v.$sidebar_bg_color;

  position: relative;
  bottom: 0;
  position: fixed;
  z-index: 1;
  // overflow-x: hidden;
  overflow-x: hidden;
  top: 7vh;
  height: 93vh;
  min-height: 93vh;
  width: 20%;
  min-width: 20%;
  padding: 0.5rem;

  li {
    list-style-type: none;
    margin-bottom: 0.2rem;
  }
}

.anchor {
  text-decoration: none;
  &:visited {
    color: v.$sidebar_text_color;
  }
}

.active {
  text-decoration: none;
  color: v.$sidebar_text_active_color;

  &:visited {
    color: v.$sidebar_text_active_color;
  }
}
