@use "./../utilities/variables" as v;

.cont-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  row-gap: 1rem;

  padding: 1rem 3rem;

  .box {
    border: 1px solid v.$box_line_color;
    border-radius: 5px;
    box-shadow: 5px 5px 5px v.$box_shadow_color;
    width: 100%;
    padding: 1rem;
    text-align: start;

    h1 {
      font-size: 1.1rem;
      font-weight: bold;
      margin-bottom: 0.3rem;
    }

    table {
      margin-top: 0.3rem;
    }
  }
}
